.grid-container {
  display: grid;
  grid-template-columns: 0.3fr 1.7fr 1.7fr 0.3fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". app-name version ."
    ". uuid icon ."
    ". type entry-point ."
    ". sdk trial .";
}
.app-name {
  grid-area: app-name;
}
.version {
  grid-area: version;
}
.uuid {
  grid-area: uuid;
}
.icon {
  grid-area: icon;
}
.type {
  grid-area: type;
}
.entry-point {
  grid-area: entry-point;
}
.sdk {
  grid-area: sdk;
}
.trial {
  grid-area: trial;
}
